.logo{
  height:32px;
}

nav .brand-logo {
  color: #000;
  line-height: 32px;
  font-size: 22px;
  margin: 16px;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.imgcard {
  border-radius: 4px 4px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-bottom: 10px solid #334248;
}

.no-chip {
  position: relative;
  float: left;
  margin-right: 8px;
}

.chip-holder {
  width: 100%;
  display: inline-block;
  padding-left: 4px;
}

.center-cropped {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.center-cropped-small {
  width: 42px;
  height: 42px;
  background-position: center center;
  background-repeat: no-repeat;
}

.picto-card {
  margin-top: -31px;
  margin-left: 20px;
  margin-right: auto;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
  font-size: 28px;
  text-align: center;
  color: white;
}

.picto-card-playlist-holder {
  border-radius: 12px;
  width: inherit;
  display: inline-flex;
  padding: 0 12px 0 12px;
}

.download-sentence{
  text-overflow: ellipsis;
  padding-bottom: 16px;
}

.picto-card-events {
}

.picto-card-media {
  margin-top: 2px;
}

.picto-card-objects {
  margin-top: -6px;
}

.picto-card-people {
  margin-top: 1px;
}

.picto-card-places {
  margin-top: -2px;
  margin-left: -1px;
}

.picto-card-playlist {
  margin-top: 4px;
  width: 30px!important;
}

.playlist-fiche-counter {
  margin-top: 4px;
  margin-left: 12px;
}

p {
  padding: 2px 5px;
  /* Nécessaires pour text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.overflow-visible {
  white-space: initial;
}

main {
  flex: 1 0 auto;
}

.store{
  height:60px;
}

.card {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 0;
}

.card-action.collection {
  border: none;
  border-top: 1px solid rgba(160,160,160,0.2);
}

.card-action-inner {
  padding: 16px 24px;
}

.collection-item p {
  line-height: 42px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin: 0;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle {
  left: 4px;
}

.card-action.collection p {
  left: -20px;
  position: relative;
}

@media all and (max-width: 1200px) {
  .row .col.s8 {
    width: inherit;
  }
}

@media all and (max-width: 1120px) {
  .store {
    height: 50px;
  }
}

@media all and (max-width: 992px) {

  nav .brand-logo {
    left: 40%;
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
  }
}

@media all and (max-width: 800px) {
  .store {
    height: 45px;
  }
}

@media all and (max-width: 690px) {
  nav .brand-logo {
    left: 30%;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
}

@media all and (max-width: 600px) {
  nav {
    height: 120px;
    line-height: 120px;
  }

  nav .brand-logo {
    left: 20%;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}

@media all and (max-width: 460px) {
  .store {
    height: 33px;
  }

  nav .brand-logo {
    left: 5%;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
    line-height: 20px;
    font-size: 15px;
  }
}

@media all and (max-width: 680px) {
  .row .col.s8 {
    width: inherit;
  }
}
